body {
    height: 100%;
}

body {
    min-height: 100%;
}

#nav>ul>li>ul{
    min-width: 100%;
}

div.gsc-adBlock {
    display: none;
}

#main, #right {
    padding-top: 16px;
}

.small {
    font-size: .82em;
}

#banner {
    background: url(../static-images/shiftingstates_4_slice.jpg);
    background-repeat: repeat-x;
    background-size: auto 100%;
    overflow: hidden;
}

#logo-text h1 a.logo img,
#banner a.logo {
    display: block;
    position: relative;
    right: -16.7%;
    -webkit-animation-name: slideFromRight;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-duration: 2.6s;
    animation-name: slideFromRight;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 2.6s;

}

#logo-text .slash {
    font-size: 1.4em;
    position: relative;
    top: .1em;
    margin-left: .1em;
    display: inline-block;
    font-weight: normal;
}

@keyframes slideFromRight {
    0% {
        right: 100%;
    }
    100% {
        right: -16.7%;
    }
}

#banner {
    margin: 1em 0;
    position: relative;
}

#banner img {
    width: 66.6%;
    height: auto;
}

#banner-credit {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 3px 7px;
    color: #222;
    font-size: .77em;
    background: rgba(240, 240, 200, 0.7);
}

@media (max-width: 500px) {
    #banner-credit {
        font-size: .70em;
    }
}

@media (max-width: 400px) {
    #banner-credit {
        font-size: .63em;
    }
}

#banner > a {
    display: block;
    width: 100%;
}

#logo-text {
    text-align: center;
}

#logo-text h1 {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    line-height: 1.3em;
}


@media (max-width: 1100px) {
    #logo-text h1 a.logo img {
        width: 180px;
        height: auto;
    }

    #logo-text h1.no-logo {
        margin: 1em 0;
    }

    /* _ns no resize
    #logo-text h1 {
        margin: 0 0 1em;
    }*/

    #logo-text h1.no-logo {
        margin: 1em 0;
    }

    #logo-text h1 a.logo {
        display: block;
        position: static;
        background: url(../static-images/shiftingstates_small_slice.jpg);
        background-repeat: repeat-x;
        background-size: auto 100%;
        margin: 0 auto;
    }

    #logo-text h1 a.logo span.no-wrap {
        padding: 0;
        display: inline-block;
    }
}

/* _ns removed changes to logo-text above 1101 px wide
@media (min-width: 1101px) {
    #logo-text h1 a.logo img {
        height: 70px;
        width: auto;
    }

    #logo-text h1 a.logo {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
    }


    #logo-text h1 {
        height: 70px;
        background: url(../static-images/shiftingstates_small_slice.jpg);
        background-repeat: repeat-x;
        background-size: auto 100%;
    }

    #logo-text h1.no-logo {
        height: 70px;
        background: none;
    }

    #logo-text h1 > span {
        padding-top: 24px;
        display: inline-block;
    }

    #logo-text h1:not(.no-logo) span {
        color: #000;
    }

    #logo-text h1:not(.no-logo) > span.red {
        color: #C11;
        margin: 0 .3em;
    }
}

@media (min-width: 1201px) {
    #logo-text h1 a.logo img {
        height: 80px;
    }

    #logo-text h1 {
        height: 80px;
    }

    #logo-text h1 > span {
        padding-top: 28px;
    }
}

@media (min-width: 1301px) {
    #logo-text h1 a.logo img {
        height: 90px;
    }

    #logo-text h1 {
        height: 90px;
    }

    #logo-text h1 > span {
        padding-top: 34px;
    }
}*/

@media (max-width: 800px) {
    #logo-text h1 > span.red {
        display: block;
    }
}

#footer {
    text-align: center;
    padding-top: 1em;
    margin-top: 20px;
    margin-bottom: 0;
}

#footer #site-by img {
    width: 26px;
    height: 26px;
}

#footer #modified-on {
    display: block;
    position: absolute;
    padding: 0;
    right: 0;
    bottom: 0;
}

#footer #site-by {
    display: block;
    position: absolute;
    padding: 0;
    left: 8px;
    bottom: 8px;

}

#footer #html5-badge {
    vertical-align: middle;
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 10px 0 0 10px;
    overflow: hidden
}

#footer #html5-badge img {
    margin: 0;
    width: 28px;
    height: 28px;
}

#footer a.btn {
    white-space: normal;
    display: block
}

.well h3, .well .h3 {
    margin-top: 0;
}

#footer-credits .row {
    margin: 10px auto 50px;
}

#footer-credits .row > div {
    vertical-align: top;
    width: 270px;
    display: inline-block;
    margin: 10px 10px;
    padding: 10px;
}

#footer-credits .row > div > a {
    height: 130px;
}

@media (max-width: 900px) {
    #footer-credits .row > div {
        display: block;
        margin: 10px auto;

    }
}

h4 *.pull-right {
    margin-left: 0.5em;
}

h3 *.pull-right {
    margin-left: 0.5em;
}

h2 *.pull-right {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}

.keynote-wells .well {
    min-height: 150px;
}

.keynote-wells .well a[aria-haspopup=true] {
    margin-bottom: 5px;
    display: inline-block;
    background: #eee;
    border: 1px solid #ddd;
    padding: 5px 12px;
    color: #500;
}

.keynote-wells .well a[aria-haspopup=true]:hover,.keynote-wells .well a[aria-haspopup=true]:focus {
    color:#900;
}


@media (min-width: 893px) {
    .high5.row .well {
        min-height: 13em;
    }
}

/* _ns increase width for content */
.middle {
    max-width: inherit;
}

/* _ns menu items - dont wrap text */
#main-menu > li > ul > li > a{
    white-space: nowrap;
}
/* _ns nav elements left aligned */
#nav > ul {
    /*text-align: left;*/
}
/* _ns top */
#header{
    text-align: left;

}
#header #header-logoandtext{
    display: inline-block;
    width: 100%;

}
#header #cham2019text{
    display: inline-block;
    padding-bottom:15px;
    padding-left:20px;
    padding-right:20px;
    padding-top:0px;
    font-family: 'Lusitana', serif;
    color: #d0e0d8;
    font-size: 1.5em;
    /*width:100%;*/
}

#header #header-logoandtext h1{
    text-align: left;
    font-size: 2em;
    padding: 0px;
    padding-top: 0px;
    display: inline-block;
}
#header #header-logoandtext h2{
    text-align: left;
    font-size: 0.8em;
    padding: 0px;
    /*display: inline-block;
    margin-left:50px;*/
}



@media (max-width: 1000px) { /* reduce sizes of logo and headings */

    #header #header-logoandtext h1{ font-size: 1.5em;}
    #header #header-logoandtext h2{ font-size: 0.5em;}
}

/* _ns navbar shouldnt be clickabe when hidden*/
@media (min-width: 1101px){
    nav #navbar ul li.dropdown{
        display:none;
    }
}

/* try image sizing */
#header-right{
    /*position: absolute;
    right:0px;*/
    float:right;
    margin: 1em 1em 0 0;
}
#header-right > a {
    display: inline-block;
    /*border: 1px solid white;*/
    background: #333;
    padding: 0;
}
#header-right > a > img {
    height: 7em;
    width: auto;
}
@media (max-width: 1800px) {   #header-right {        font-size: 8px; }}
@media (max-width: 1600px) {   #header-right {        font-size: 8px; }}
@media (max-width: 1400px) {   #header-right {        font-size: 8px;    }}
@media (max-width: 1300px) {   #header-right {        font-size: 8px;    }}
@media (max-width: 1200px) {   #header-right {        font-size: 8px;    }}
@media (max-width: 1000px) {   #header-right {        font-size: 7.5px;    }}
@media (max-width: 900px) {    #header-right {        font-size: 7px;    }}
@media (max-width: 800px) {    #header-right {        font-size: 6px;    }}
@media (max-width: 700px) {    #header-right {        font-size: 5.5px;    }}
@media (max-width: 620px) {    #header-right {        font-size: 5.5px;    }}
@media (max-width: 580px) {    #header-right {        font-size: 4.5px;    }}
@media (max-width: 540px) {    #header-right {        font-size: 4px;    }}
@media (max-width: 450px) {    #header-right {        font-size: 3.5px;   }}
@media (max-width: 380px) {    #header-right {        font-size: 3px;   }}



/* _ns dev */
/**{border: 1px solid #aad5ff}*/



/*Eli added to pull logo out of header*/

#cham2019 {

    height:auto;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index:1;

}

#cham2019 #cham2019logo3 {
    width: 300px;
}

nav.navbar {
    z-index:0;
}

#nav {
    z-index:0;
}


#header #cham2019text {

    max-width: inherit;
    margin-left:350px;

}

#nav > ul {
    margin-left:350px;
    text-align:left;
}

#header-right > a > img {
    height: 5em;
    width: auto;
}

@media (max-width: 1200px) {


    #cham2019 #cham2019logo3 {
        width: 180px;
    }



    #cham2019 {

        z-index:0;
        margin-top: 50px;

    }

    #header #cham2019text {

        max-width: inherit;
        margin-left:200px;

    }

}

@media (max-width: 1100px) {
    nav.navbar {
        z-index: 1;
    }

    #nav > ul {
        margin-left:0;
        text-align:center;
        z-index: 1;
    }

    #cham2019 {


        z-index:0;

    }

    #header #header-logoandtext h1 {
        fint-size: 1.5em;

    }

}




@media (max-width: 600px) {
    #cham2019 #cham2019logo3 {
        width: 100px;
        margin-top: 40px;
    }

    #header #cham2019text {

        max-width: inherit;
        margin-left:100px;

    }



}