body.site-map #navbar #menu-toggle {
    opacity: 0;
}
body.site-map #middle {
    max-width: 2000px;
    margin-top: 0;
}
body.site-map #nav {
    position:static;
    z-index: 2;
    top: 0;
    background: transparent;
    background: linear-gradient(rgba(200, 200, 200, 0.2), rgba(200, 200, 200, 0.1));
    display: block;
    width: 94%;
    margin: 0 auto;
}
body.site-map #nav {
    background: none;
    padding-top: 1.5em;
}
body.site-map ul#main-menu {
    width: 100%;
    text-align:center;

}
body.site-map ul#main-menu > li {
    background: #400;
    display: inline-block;
    vertical-align: top;
    padding: 0;
    margin-right: 1%;
    margin-bottom: 1.5em;
    clear: none;
}
body.site-map #nav ul#main-menu>li ul {
    background: #800;
    position:static;
    display: block;
    margin: 0 .5em .5em;
    background:none;
}
body.site-map ul#main-menu ul ul {
    display: block;
    padding-left: 8%;
}
body.site-map ul#main-menu > li > a {
    display: block;
    background: #400;
}
body.site-map ul#main-menu > li li a {
    display: block;
    background: #600;
}
body.site-map ul#main-menu > li  a span.caret{
    display:none;
}
body.site-map ul#main-menu a.expandButton{
    cursor: default;
    color:#bbb;
}
body.site-map ul#main-menu a.expandButton:hover,body.site-map ul#main-menu a.expandButton:hover {
    color:#bbb;
}
@media (min-width: 1201px) {
    body.site-map ul#main-menu > li {
        width: 15%;
        max-width: 500px;
    }
}
@media (min-width: 861px) and (max-width: 1200px) {
    body.site-map ul#main-menu > li {
        min-width: 31%;
        max-width: 31%;
        min-height: 50px;
    }
    body.site-map ul#main-menu > li:nth-of-type(5) {
        clear: both;
    }
}
@media (max-width: 860px) {
    body.site-map ul#main-menu > li {
        width: 48%;
        max-width: 420px;
        min-height: 40px;
    }
}
@media (max-width: 500px) {
    body.site-map ul#main-menu > li {
        width: 98%;
        max-width: 480px;
        min-height: 40px;
        margin-left: 1%;
    }
}
body.site-map ul#main-menu a {
    color: #eee;
    display:block;
}
body.site-map ul#main-menu a:hover {
    background: #000;
    color: #F00;
}
body.site-map ul#main-menu ul ul li {
    background: #006;
}
body.site-map ul#main-menu ul ul li a {
    color: #ccc;
}
body.site-map ul#main-menu li > ul {
    background: #003;
}
body.site-map ul#main-menu li > ul > li {
    background: #005;
    display: block;
}
body.site-map ul#main-menu ul ul li {
    font-size: .9em;
}
body.site-map ul#main-menu ul ul li > a {
    padding: 5px 10px;
}
body.site-map ul#main-menu > li > a {
    color: #EEE;
    font-weight: bold;
}
body.site-map ul#main-menu > li {
    border: 1px solid #000;
}
